.form-img {
    width: 750px;
    display: flex;
    height: 450px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.half-form {
    width: 450px;
    height: 450px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.half-img {
    width: 300px;
    height: 450px;
    justify-content: left;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.field-out {
    width: 400px;
    border-radius: 10px;
    height: 446px;
    border: solid 1px #7291d4;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.field-in {
    width: 400px;
    border-radius: 5px;
    border: solid 1px #7291d4;
}

.input {
    width: 100%;
    padding: 8px;
    margin: 6px 1;
    border: 1px solid #928aff;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #180046;
}

h2 {
    padding: 20px;
    text-align: center;
    color: #180046;
}

.header-img {
    height: 150px;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    background-image: url(/img/acnur.png);
    color: aliceblue;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    font-family: sans-serif;
    color: #180046;
}

footer {
    margin-top: 50px;
    padding: 20px;
    height: 200px;
    background-color: black;
    display: block;
}

.info-link {
    display: flex;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.links {
    margin-left: auto;
    justify-content: right;
    width: 100px;
}

.infos {
    max-height: 250px;
    align-content: center;
    align-self: center;
    margin-top: 30px;
    margin-bottom: auto;
}

img {
    padding: 5px;
    width: 80px;
    height: 80px;
}

li {
    color: white;
    font-size: small;
    list-style-type: none;
}

.ai {
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-size: small;
}

.navzinho {
    margin: 2px;
    max-width: 355px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unhcr {
    width: 250px;
    height: 250px;
    border: solid 1px #7291d4;
    border-radius: 10px;
}

.acnur {
    width: 250px;
    height: 250px;
    border: solid 1px #7291d4;
    border-radius: 10px;
}

.fontes {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    padding: 20px;
    height: 250px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.font-img {
    margin-top: -10px;
    width: 250px;
    object-fit: contain;
    height: 230px;
    position: relative;
    object-fit: cover;
}

.un-img {
    margin-top: 20px;
    justify-content: center;
    width: 250px;
    height: 250px;
    zoom: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p#a {
    font-size: small;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
}

p#aa{
    font-size: small;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.dados-ref-br {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px;
    width: 70%;
    display: flex;
}
.dados-ref-br2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 10px;
    width: 60%;
    display: flex;
}

.dados1-img {
    height: 260px;
    width: 450px;
    position: relative;
    object-fit: cover;
    object-position: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dados2-img {
    height: 260px;
    width: 450px;
    position: relative;
    object-fit: cover;
    object-position: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.doas{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}